@import url(./nullstyle.scss);
@font-face {
  font-family: TTNorms, sans-serif;
  src: url(../fonts/TTNorms-Regular.ttf);
}
$font-family: "TTNorms", sans-serif;
body {
  background-color: #f2f6fa;
}
.wrapper-header,
.wrapper__menu,
.wrapper-main,
.wrapper__h1 {
  width: 100%;
  background-color: #f2f6fa;
}
.header {
  max-width: 1110px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  font-family: $font-family, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #010624;
  &__logo {
    margin-right: 40px;
  }
}

.list {
  display: flex;
  min-width: 570px;
  justify-content: space-between;
  color: black;
  margin-right: 40px;
}

.list__item:hover {
  text-decoration: underline;
  color: rgba(161, 196, 253, 1);
}
.media {
  display: flex;
  width: 60px;
  justify-content: space-between;
  margin-right: 10px;
  & a {
    text-decoration: none;
    color: #010624;
  }
}
.media__item_search {
  display: flex;
}

.media__item_search input {
  display: none;
  outline: none;
}
.media__item_search:active {
  input: {
    display: block;
  }
}
.list_left {
  margin-right: 40px;
  i: {
    font-size: 14px;
    width: 14px;
  }
}
.login {
  display: flex;
  &__text {
    color: #a1c4fd;
  }
}

.menu {
  max-width: 1110px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 12px;
  font-family: $font-family, sans-serif;
  color: #010624;
  & span {
    color: #a1c4fd;
  }
  & i {
    color: #a1c4fd;
    font-size: 2px;
    padding: 0px 10px;
  }
}

.main {
  max-width: 1110px;
  display: flex;
  margin: 0 auto;
  font-family: $font-family;
  margin-top: 50px;
}
.h1 {
  text-align: center;
  margin: 0 auto;
  max-width: 1110px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  font-family: $font-family, sans-serif;
}
.h1::after {
  height: 1px;
  position: absolute;
  content: "";
  width: 60px;
  background-color: rgba(161, 196, 253, 1);
  color: rgba(161, 196, 253, 1);
  top: 50px;
  left: 50%;
  margin-left: -30px;
}
.aside {
  min-width: 255px;
  margin-right: 30px;
  &__filter {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #edecef;
  }
  &__form {
    margin-bottom: 40px;
    background: #a1c4fd;
    border-radius: 4px;
    text-align: center;
    padding: 15px 0px;
    & a {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: rgba(255, 255, 255, 1);
      padding: 15px 40px;
    }
  }
}
.filter__title,
.filter__checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__checkbox {
  font-weight: 400;
  font-size: 15px;
  color: #5c5c6d;
  margin-top: 20px;
  & input {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
  }
}
.title__name {
  color: rgba(1, 6, 36, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.title__mark {
  display: flex;
  align-items: center;
  color: #a1c4fd;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  & i {
    margin-right: 5px;
    margin-left: 95px;
  }
}
.gridcontainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 28px;
  column-gap: 28px;
}
.griditem {
  background-color: #e5e5e5;
  &__img {
    margin-bottom: 10px;
  }
  &__subtitle {
    display: flex;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgba(255, 0, 19, 1);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    padding-left: 15px;
    & img {
      margin-right: 5px;
    }
  }
  &__title {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
    padding-left: 15px;
    & span {
      text-transform: uppercase;
    }
  }
  &__price {
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #5c5c6d;
    padding-left: 15px;
    & span {
      color: rgba(161, 196, 253, 1);
    }
  }
  &__rating {
    display: flex;
    margin-bottom: 20px;
    padding-left: 15px;
  }
}
.rating {
  &__media {
    padding: 5px;
    margin-right: 5px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    min-width: 60px;
  }
  & img {
    padding-right: 5px;
  }
  & p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    color: #a1c4fd;
  }
}
.wrapper-footer {
  background-color: #e5e5e5;
  width: 100%;
}
.footer {
  max-width: 1110px;
  display: grid;
  grid-template-columns: 60% 20% 20%;

  margin: 0 auto;
  margin-top: 50px;
  background-color: #e5e5e5;
  font-family: $font-family, sans-serif;
}
.footer__list {
  display: flex;
  margin: 15px 434px 30px 0px;
  color: rgba(92, 92, 109, 1);
  grid-row: 1;
  grid-column: 1/3;
}
.social {
  grid-row: 1;
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  & p {
    color: rgba(161, 196, 253, 1);
  }
  & img {
    color: rgba(161, 196, 253, 1);
    height: 16px;
    padding-right: 10px;
  }
}
.footer__copyright {
  grid-row: 2;
  grid-column: 1;
  font-size: 12px;
  line-height: 14px;
  color: #5c5c6d;
  text-align: left;
  margin-bottom: 30px;
}
.footer__policy {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  color: rgba(161, 196, 253, 1);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 30px;
}
.footer__data {
  grid-row: 2;
  grid-column: 3;
  text-align: right;
  color: rgba(161, 196, 253, 1);
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .list {
    display: none;
  }
  .header {
    display: flex;
    margin: 0 auto;
    position: relative;
    &__logo {
      justify-self: center;
      &__logo::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background: url(../img/menu2.svg);
      }
    }
    &__login,
    &__list_left {
      display: none;
    }
  }
  .gridcontainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 28px;
    column-gap: 28px;
  }
  .wrapper__menu,
  .main__aside {
    display: none;
  }
}
