@import url(./nullstyle.scss);

@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans, sans-serif;
  src: url(../fonts/Raleway-Regular.ttf);
}
$font1: "Raleway", sans-serif;
$font2: "OpenSans", sans-serif;
$bg1: rgba(51, 51, 51, 1);
$lightgrey: rgba(245, 245, 245, 1);
$bg3: rgba(226, 226, 226, 1);
$white: rgba(255, 255, 255, 1);
$darkgrey: rgba(134, 135, 139, 1);
$lightpink: rgba(248, 239, 239, 1);
$lightblack: #333333;
$black: rgba(0, 0, 0, 1);
$red: rgba(236, 121, 121, 1);
.wrapper-header,
.wrapper-login,
.wrapper-login-footer,
.wrapper-tabs,
.wrapper_pricing,
.wrapper-contact,
.wrapper-rewiew,
.wrapper-footer,
.wrapper-feedback,
.wrapper-add {
  width: 100%;
}
.header,
.login,
.login-footer,
.contact,
.tabs,
.pricing,
.rewiew,
.footer,
.feedback,
.add {
  max-width: 1170px;
  margin: 0 auto;
}
.button {
  max-width: 270px;
  padding: 20px 0px;
  text-align: center;
  a {
    color: $white;
    font-family: $font2;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
  }
}
.wrapper-header {
  background-color: $black;
}
.header {
  font-family: $font2;
  color: $white;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  & li {
    padding: 30px 0px;
  }
}
.wrapper-login {
  background: url(../img/banner1.svg), url(../img/banner2.svg);
  background-size: cover;
}
.login {
  display: flex;
  &__introduction {
    margin: 208px 30px 185px 0px;
  }
  &__form {
    margin-top: 283px;
    margin-bottom: 293px;
  }
}
.introduction {
  &__logo {
    padding: 23px 100px 23px 0px;
    margin-bottom: 50px;
  }
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-family: $font1;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 100px;
    max-width: 670px;
    position: relative;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: $white;
    margin-bottom: 42px;
    font-family: $font1;
  }
  &__button {
    border: 2px solid $white;
  }
}

.introduction__title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 1px;
  color: $white;
  bottom: -55px;
  left: 0px;
  background-color: $white;
}
.form {
  max-width: 470px;
  background: $white;
  border-radius: 10px;
}
.form__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  font-family: $font2;
  text-transform: uppercase;
  margin: 0px 50px 45px 53px;
  padding: 33px 0px;
  color: $black;
  & span {
    color: $red;
  }
}
.input {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 42px 50px;
  font-size: 14px;
  line-height: 19px;
  color: $white;
  font-weight: 400;
  font-family: $font2;
  &__field {
    padding-bottom: 16px;
    margin-bottom: 33px;
    border-bottom: 1px solid #bdbdbd;
  }
}
.form__button {
  background: $red;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding: 23px 0px;
  & a {
    margin: 23px 0px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $white;
    text-align: center;
    font-family: $font2;
  }
}
.wrapper-login-footer {
  background: $lightpink;
}
.login-footer {
  display: flex;
  align-items: center;
  .text {
    margin-bottom: 18px;
    margin-right: 15px;
    max-width: 470px;
    &__name {
      font-family: $font2;
      font-size: 24px;
      line-height: 33px;
      font-weight: 700;
      padding: 18px 0px;
    }
    &__subname {
      font-family: $font1;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: $darkgrey;
      margin-bottom: 18px;
    }
  }
  .media {
    display: flex;
    max-width: 670px;
    &__icon {
      margin: 0px 15px;
    }
  }
}

.wrapper-contact,
.wrapper_pricing {
  background-color: $lightgrey;
}
.tabs {
  margin-top: 100px;
  &__nav a {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #c6cbcd;
    border-bottom: none;
    font-size: 18px;
    line-height: 21px;
    color: $black;
    font-weight: 400;
    font-family: $font1;
    text-transform: uppercase;
    padding: 10px 83px;
  }
  &__main {
    margin-top: 10px;
    display: flex;
    border: 1px solid #c6cbcd;
  }
  .content {
    margin: 0px 30px 54px 100px;
    &__title {
      font-size: 30px;
      line-height: 41px;
      font-family: $font2;
      padding: 57px 0px;
    }
    &__text {
      font-size: 18px;
      font-family: $font1;
      margin-bottom: 27px;
    }
    &__button {
      background: $red;
    }
  }
  .nav__item {
    position: relative;
    &::after {
      position: absolute;
      content: "";
    }
  }
}

.pricing,
.rewiew {
  font-family: $font1;
}
.title {
  text-transform: uppercase;
  text-align: center;
  padding: 47px 0px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
  position: relative;
  padding-top: 97px;
  font-family: $font1;
}
.title::after {
  content: "";
  background-color: $red;
  width: 170px;
  bottom: 0;
  position: absolute;
  height: 1px;
  left: 50%;
  margin-left: -85px;
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  color: $darkgrey;
  text-align: center;
  margin-bottom: 50px;
  font-family: $font1;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  text-align: center;
  padding-bottom: 50px;
  &__block {
    width: 30%;
  }
  &__block :hover {
    box-shadow: (0px 4px 10px rgba(51, 51, 51, 0.2));
  }
  &__block_center {
    margin-top: -18px;
  }
  .block {
    text-align: center;
    width: 100%;
    &__item-top {
      background-color: $lightblack;
      border: 2px solid $lightgrey;
      font-family: $font2;
      color: $white;
      font-size: 24px;
      font-weight: 700;
      padding: 15px 0;
    }

    &__item-center {
      background-color: $lightblack;
      border: 2px solid $lightgrey;
      font-family: $font1;
      color: $white;
      font-size: 36px;
      font-weight: 700;
      padding: 30px 0;
    }

    &__item-bottom {
      background-color: $lightblack;
      border: 2px solid $lightgrey;
      font-family: $font1;
      color: rgb(255, 255, 255, 0.5);
      font-size: 18px;
      font-weight: 400;
      padding: 15px 0;
    }
    &__text {
      border: 2px solid $lightgrey;
      color: #86878b;
      background-color: $white;
      font-family: $font1;
      font-size: 18px;
      font-weight: 400;
      padding: 15px 0;
    }
  }
}
.rewiew__container {
  margin: 0px 16px;
}
.container__content {
  max-width: 310px;
  justify-content: center;
}
.content__title {
  padding: 32px 0px;
  font-size: 18px;
  font-weight: 700;
  font-family: $font2;
}
.content__text {
  font-size: 14px;
  font-family: $font1;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}
.container {
  &__text {
    color: #86878b;
    font-size: 18px;
    font-family: $font1;
    text-align: center;
    margin-bottom: 46px;
    padding: 40px;
    background: #e2e2e2;
    border-radius: 10px;
    position: relative;
    height: 180px;
  }
  &__text::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    background: url(../img/p1.png);
    bottom: -20px;
    left: 60px;
  }
  &__caption {
    display: flex;
  }
  .caption {
    .userdata {
      margin-bottom: 60px;
      margin-left: 22.5px;
      &__name {
        font-size: 18px;
        font-family: $font2;
        padding: 9px 0px;
        font-weight: 700;
      }
      &__prof {
        font-size: 14px;
        font-family: $font1;
        text-align: left;
      }
    }
  }
}
.wrapper-add {
  background: url(../img/bg_1.svg), url(../img/bg_2.svg);
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}
.add {
  margin-bottom: 50px;
  .banner {
    &__title {
      color: $white;
    }
    &__title::after {
      content: "";
      background-color: transparent;
      width: 170px;
      bottom: 0;
      position: absolute;
      height: 1px;
      left: 50%;
      margin-left: -85px;
    }
  }
}
.banner__button {
  margin: 0 auto;
  border: 2px solid #ffffff;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__title {
  font-family: $font1;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 57px 0px;
  position: relative;
  margin: 50px 0px 40px 0px;
  &::after {
    content: "";
    background-color: $red;
    width: 170px;
    top: 150px;
    position: absolute;
    height: 1px;
    right: 50%;
    margin: 0px -85px 0px 0px;
  }
}

.contact__subtitle {
  font-family: $font1;
  font-size: 14px;
  text-align: center;
  color: #86878b;
}
.contact__block {
  display: flex;
  justify-content: center;
  font-family: $font2;
  font-size: 14px;
  line-height: 19px;
  text-align: start;
  padding-top: 90px;
}
.block__input_bottom,
.block__textarea {
  width: 50%;
  background: $lightgrey;
}
.input_bottom {
  margin: 0px 30px 50px 0px;
  &__item {
    padding-bottom: 16px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 50px;
    background: $lightgrey;
    outline: none;
    & input {
      width: 100%;
      background: $lightgrey;
    }
  }
}
.block__button {
  margin: 0 auto;
  background: $red;
  width: 30%;
  margin-bottom: 50px;
  & a {
    background-color: $red;
  }
}
.block__textarea {
  & textarea {
    background: $lightgrey;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
  }
}
.wrapper-footer {
  background: $black;
  .footer {
    margin: 0px 270px;
    &__copyright {
      color: $white;
      text-align: center;
      margin-top: 38px;
      padding-bottom: 30px;
      font-size: 14px;
      font-family: $font1;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    &__icon {
      padding: 35px 17.5px 0px 17.5px;
    }
  }
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__input,
  .form__textarea {
    width: 100%;
    padding: 0px 30px;
  }
  .main__button {
    margin-top: 50px;
  }
}
